<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Info Here</title>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{{ body }}} 
  <script src="/js/script.js"></script>
</body>

</HTML>