<!DOCTYPE html>
<html lang="en">
<head>
  <title>PureCloud Electronics</title>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<ul class="sidenav left" id="mobile-nav">
  <li class="blue-grey lighten-4"><a href = "index.html">Home</a></li>
  <li class = "divider"></li>
  <li class="blue-grey darken-1"><a href = "#!">Shop</a></li>
  <li class = "divider"></li>
  <li class="light-blue"><a href = "cart.html">Go to my Shopping Cart<i class="material-icons">add_shopping_cart</i></a></li>
</ul>


<!-- container for navbar -->
<div class="container">
  <!-- dropdown menu for navbar -->
   <ul id = "dropdown1" class = "dropdown-content right hide-on-med-and-down">
     <li class="blue-grey lighten-4"><a href = "index.html">Home</a></li>
     <li class = "divider"></li>
     <li class="blue-grey darken-1"><a href = "#!">Shop</a></li>
     <li class = "divider"></li>
     <li class="light-blue"><a href = "cart.html">Go to my Shopping Cart<i class="material-icons">add_shopping_cart</i></a></li>
  </ul>


  <!-- navbar -->
 <nav>
   <div class = "nav-wrapper cyan lighten-2">
  <div class="left col s4 m4 l4">
    <!-- <div class="row"></div> -->
    <!-- hamburger menu -->
    <a href="#" class="sidenav-trigger" data-target="mobile-nav">
			<i class="material-icons">menu</i>
		</a>
   <!-- searchbar -->
    <!-- <form id="nav-mobile">
      <div class="input-field" data-activates="mobile-demo">
        <input class="cyan lighten-2" id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons hide-on-med-and-down">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form> -->
  </div>
      <div class="brand-logo center">
      <img class="responsive-img z-depth-5" src="images\Logo2.jpeg" >
      </div>
      <ul id="nav-mobile" class="right">
        <!-- Dropdown Trigger -->
        <li><a class ="dropdown-trigger button-collapse" href = "#!" data-target="dropdown1" data-activates="dropdown-trigger button-collapse">Welcome, "username here"<i class = "material-icons right button-collapse">arrow_drop_down</i></a></li>
      </ul>
    </div>
  
</div>

  {{{ body }}} 

  <div class="container nav-wrapper">
<footer class="page-footer cyan lighten-2">
  
    <div class="row">
      <div class="col s12 m6 l3"></div>
      <div class="col s12 m6 l3">
        <h5 class="white-text">More about our Products</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Shopping Cart</a></li>
        </ul>
      </div>
    
    <div class="col s12 m6 l3">
      <h5 class="white-text">About the Developers</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Portfolio</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container center">
    © 2020 Copyright
    </div>
  </div>
</footer>
</div>
  <script src="/js/script.js"></script>

  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript">
          $( document ).ready(function() {
         $(".dropdown-trigger").dropdown();
        //  $(".button-collapse").sideNav();
        $('.carousel').carousel();
         });
      
</script>

</body>

</HTML>