<!DOCTYPE html>
<html lang="en">

<head>
  <title>PureCloud Electronics</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>


  <!-- side nav bar for mobile-->
  <ul class="sidenav left" id="mobile-nav">
    <li class="blue-grey lighten-4"><a href="/">Home</a></li>
    <li class="divider"></li>
    <li class="blue-grey darken-1"><a href="/settings">Edit Profile</a></li>
    <li class="divider"></li>
    <li class="light-blue"><a href="/cartRoute">Cart<i class="material-icons">add_shopping_cart</i></a>
    </li>
  </ul>


  <!-- container for navbar -->
  <div class="container">
    <!-- dropdown menu for navbar -->
    <ul id="dropdown1" class="dropdown-content right hide-on-med-and-down">
      <li class="blue-grey lighten-4"><a href="/">Home</a></li>
      <li class="divider"></li>
      <li class="blue-grey darken-1"><a href="/settings">Edit Profile</a></li>
      <li class="divider"></li>
      <li class="light-blue"><a href="/cartRoute">Cart<i
            class="material-icons">add_shopping_cart</i></a></li>
    </ul>


    <!-- navbar -->
    <nav>
      <div class="nav-wrapper cyan lighten-2">
        <div class="left col s4 m4 l4">
          <div class="row"></div>
          <!-- hamburger menu -->
          <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
          </a>

           {{!-- searchbar  --}}

          {{!-- <form id="nav-mobile">
      <div class="input-field" data-activates="mobile-demo">
        <input class="cyan lighten-2" id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons hide-on-med-and-down">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>  --}}

        </div>
        <div class="brand-logo center">
          <img class="responsive-img z-depth-5" src="\images\Logo2.jpeg">
        </div>
        <ul id="nav-mobile" class="right">
          <!-- Dropdown Trigger -->

          <li id="navbar-li"><a class="dropdown-trigger button-collapse" href="#!" data-target="dropdown1"
              data-activates="dropdown-trigger button-collapse"><span id="navbarUser">Login</span>
              <i class="material-icons right button-collapse">arrow_drop_down</i></a></li>
        </ul>
      </div>

  </div>

  <main>

  {{{ body }}}

  </main>
  
  <!-- </div> for background img -->

<div class="container footerContainer">
<footer class="cyan lighten-2">
<div class="center flow-text">
  <div><a href="/">Home</a></div>
  <div><a href="/developers">About</a></div>

  <a href = "/cartRoute">Go to my Shopping Cart<i class="material-icons">add_shopping_cart</i></a>
</div>
  <div class="footer-copyright page-footer blue-grey">
    <div class="container center">
    © 2020 Copyright
    </div>
  </div>
  </div>
</footer>


  <!-- script for initializing materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $(".dropdown-trigger").dropdown();
      $('.sidenav').sidenav();
      $('.carousel').carousel();
    });
                setInterval(function() {
    $('.carousel').carousel('next');
  }, 3000); // every 3 seconds

  </script>
    <script src="/js/navbar.js"></script>
    <script src="/js/store.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
</body>

</html>