# Stripe API keys
STRIPE_PUBLISHABLE_KEY=pk_test_51H6lyMACrjNtDH8GqBanKtwFegjiWxVci5kU3I8kXSc0gtl4hZg32JkxMpxobsCoJRyFKuR58V0KgdNwPLjLenpy009kCobCkO
STRIPE_SECRET_KEY=sk_test_51H6lyMACrjNtDH8Ga51gP3ebo0OQcTwMgA0aal0e1UeUJe89ujdCuO5FylebJEfJ2TcChVaXlesoUmDGQ4Xk34NK00oTZ8SalV

# Required to run webhook
# See README on how to use the Stripe CLI to setup
STRIPE_WEBHOOK_SECRET=whsec_1234

STATIC_DIR=../../client/html

# Create a Price on Stripe using the Dashboard or API 
PRICE=price_12345
DOMAIN=http://localhost:4242
# DOMAIN="http://localhost:3000" # When using the React client

# Supported payment methods for the store.
# Some payment methods support only a subset of currencies.
PAYMENT_METHODS="card"
# PAYMENT_METHODS="card, ideal" # Requires CURRENCY=eur
# PAYMENT_METHODS="card, fpx" # Requires CURRENCY=myr

