<div class="row"></div>
<div class="container blue-grey lighten-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form>
                <div class="form-group">
                    {{!-- <label for="userName">Name:</label>
                    <input placeholder="Enter name here" type="text" class="form-control text-black" id="userName">
                    <br /> --}}

                    <label for="userPasword">Password:</label>
                    <input placeholder="Use something secure." type="password" class="form-control" id="userPassword">
                    <br />


                    <label for="userFullName">Full Name:</label>
                    <input placeholder="John B. Doe" type="text" class="form-control" id="userFullName">
                    <br />

                    <label for="userPhoneNumber">Phone Number:</label>
                    <input placeholder="900-000-0000" type="text" class="form-control" id="userPhoneNumber">
                    <br />

                    <label for="userStreetAddress">Street Address:</label>
                    <input placeholder="123 Main St." type="text" class="form-control" id="userStreetAddress">
                    <br />

                    <label for="userCity">City:</label>
                    <input placeholder="New York" type="text" class="form-control" id="userCity">
                    <br />

                    <label for="userState">State:</label>
                    <input placeholder="NY" type="text" class="form-control" id="userState">
                    <br />

                    <label for="userZip">Zip:</label>
                    <input placeholder="12345" type="text" class="form-control" id="userZip">
                    <br>
                </div>
                <button type="submit" id="editUser" class="btn waves-effect purple submit">Submit</button>
                <button type="submit" id="logout-button" class="btn pink accent-3 submit">DELETE USER</button>
            </div>
                {{!-- <button type="submit" id="deleteUser"class="btn right-align red submit">DELETE USER</button> --}}
        </div>
        </form>
    </div>
</div>
</div>
<script src="/js/editUserSettings.js" type="text/javascript"></script>