

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
  }

label {
  color: #9575cd;

}

input {
  color: #9575cd;
}

 .zackCard {
  /* margin: 5px; */
}

 .col {
  /* border: 1px solid black; */
} 

 .extraCol { 
   /* border: 1px solid orange;  */
   background-color: #bbdefb;
  margin-top: 10px;
  margin-bottom: 10px;
}

.zackImage {
  
  height: 200px; 
  /* border: 1px solid orange;  */

} 

.zackContent {
  
  height: 200px;
    /* border: 1px solid purple; */

 } 

.imageSizing {
  height: 200px;
  width: 200px;
}

.carousel-image {
  height: 300px;
  width: 400px;
}
