

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 16px;
    color: white;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
  }

.imgSize {
height: 100%;
width: 100%;
}

.card {
  margin: 10px;
}

/* .col {
  border: 1px solid black;
} */

.extraCol {
  /* border: 1px solid orange; */
  background-color: #bbdefb;
  margin-top: 10px;
  margin-bottom: 10px;
}
